<div class="topics2">
<div class="topimage">
	<div class="container">
		<div class="row">
			<div class="col-xs-offset-3">
				<div class="towntop">
					<p class="maintitle">建設業ネットワーク</p>
					<p class="maintitle2">元請け・下請け・協力業者が見つかる！繋がる！</p>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="squareimage">
	<%= link_to new_user_registration_path do %>
                <button type="button" class="square_btn">まずは、会員登録してネットワークに参加する</button>
            <% end %>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-offset-1">
			<p class="title">こんな建築業者さん・一人親方さんにおすすめ</p>
			<img src="/assets/kyouryokugyousya" alt=" " class="col-sm-1 img3"  />
			<div class="col-sm-4">
				<p class="kyouryoku">協力業者、元請けを探したい</p>
				ハウスメーカーやゼネコンなど、元請けの仕事量が不安定なので、既存の取引先以外の新しい協力業者、元請けを増やしたい。</div>

				<img src="/assets/syokuninn.png" alt=" " class="col-sm-1 img3" />
				<div class="col-sm-3">
					<p class="kyouryoku">職人が減ってしまった</p>
					職人さんが減ってしまって、仕事はあるが、やり手がいないので職人募集、協力業者募集をしたい。</div>
				</div></div>
				<div class="col-xs-offset-1">
					<br>
					<div class="row">
						<div class="col-sm-5">
							<img src="/assets/amaru.png" alt=" " class="col-sm-2 img3" />
							<p class="kyouryoku">
								職人が余ってしまう</p>
								職人さんが増えていて、仕事量を増やしたいので、新たな取引先を探している。
								予定してた工期が延びて仕事が無くなった。
							</div>
							<img src="/assets/fuman.png" alt=" " class="col-sm-1" />
							<div class="col-sm-3">
								<p class="kyouryoku">
									下請け業者に不満</p>
									現在取引している下請けに不満があるので、新たな仕事の依頼先を探したい。適正価格かどうか知りたいので見積もりを依頼したい
								</div>
							</div>
							<div class="row">
							<p class="title">協力会社マッチングの流れ</p>
							<p class="kouji">下請協力業者を探す・工事案件を発注する</p>
							<ul class="msr_bread06">
								<li>
									<a href="#">募集情報掲載</a>
								</li>
								<li>
									<a href="#">会員への通知</a>
								</li>
								<li>
									<a href="#">マッチング</a>
								</li>

							</ul>
							<div class="col-sm-3 waku">
								<div><img src="/assets/tuuti.jpg" alt=" "  class="img2"/></div>
								<div>継続的な下請業者の募集や、既に現場や図面が決まっている工事の発注ができます。写真や図面などのファイルも添付することが可能です。</div>
							</div>
							<div class="col-sm-3 waku">
								<div>
									<div><img src="/assets/keisai.jpg" alt=" "  class="img2"/></div>
									<div>投稿された内容が、ツクリンクの下請協力業者募集に掲載されます。また条件にマッチした建設会社さんには新着募集としてメールが送信されます。</div>
								</div>
							</div>
							<div class="col-sm-3 waku">
								<div>
									<div><img src="/assets/match.jpg" alt=" "  class="img2"/></div>
									<div>興味を持った建設会社さんからサービス内でメッセージが届きます。打ち合わせの日程調整を行い、双方が同意すると成約となります。</div>
								</div>
							</div>
							</div>
							<div class="row">
							<br>
							<p class="kouji">元請協力会社を探す・空き日程を登録する</p>
							<ul class="msr_bread06">
								<li>
									<a href="#">募集情報掲載</a>
								</li>
								<li>
									<a href="#">会員への通知</a>
								</li>
								<li>
									<a href="#">マッチング</a>
								</li>

							</ul>
							<div class="col-sm-3 waku">
								<div><img src="/assets/tuuti.jpg" alt=" "  class="img2"/></div>
								<div>継続的な元請会社の募集や、雨や急な予定変更などで職人さんが空いてしまった日程や職人数を登録することができます。</div>
							</div>
							<div class="col-sm-3 waku">
								<div>
									<div><img src="/assets/keisai.jpg" alt=" "  class="img2"/></div>
									<div>投稿された内容が、元請協力業者募集に掲載されます。また条件にマッチした建設会社さんには新着募集としてメールが送信されます。</div>
								</div>
							</div>
							<div class="col-sm-3 waku">
								<div>
									<div><img src="/assets/match.jpg" alt=" "  class="img2"/></div>
									<div>興味を持った建設会社さんからサービス内でメッセージが届きます。打ち合わせの日程調整を行い、双方が同意すると成約となります。</div>
								</div>
							</div>
							</div>
	

						</div>

					</div>
				</div>
			</div>
		</div>
		



