.information1{
	border:solid 1px gray;
	width: 920px;
	margin-bottom: 30px;
}
.information2{
	background-color: gray;
	font-size: 20px;
	color:white;
	height: 60px;
	line-height: 60px;
	width: 920px;
}
.back2{
	margin-bottom: 10px;
	text-align: center;
}
.table2{
	width: 920px;
	border:0px;
	height: 600px;

}
.edit{
	font-size: 17px;
	padding-left: 10px;
}


